<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.osxbook.procfs</string>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/local/bin/procfs</string>
		<string>/proc</string>
		<string>-f</string>
	</array>
	<key>KeepAlive</key>
	<false/>
	<key>UserName</key>
	<string>root</string>
	<key>WorkingDirectory</key>
	<string>/</string>
</dict>
</plist>
